<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :games_id %>
    <%= form.text_field :games_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :correct_option %>
    <%= form.text_field :correct_option %>
  </div>

  <div class="field">
    <%= form.label :incorrect_option_1 %>
    <%= form.text_field :incorrect_option_1 %>
  </div>

  <div class="field">
    <%= form.label :incorrect_option_2 %>
    <%= form.text_field :incorrect_option_2 %>
  </div>

  <div class="field">
    <%= form.label :incorrect_option_3 %>
    <%= form.text_field :incorrect_option_3 %>
  </div>

  <div class="field">
    <%= form.label :correct_guess %>
    <%= form.number_field :correct_guess %>
  </div>

  <div class="field">
    <%= form.label :question_type %>
    <%= form.text_field :question_type %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
